* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#navbar {
	width: 100vw;
	height: 10vh;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
}

#logo {
	margin: 4rem;
}

#nav-links {
	width: 20rem;
	position: absolute;
	right: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-links {
	list-style: none;
}

.nav-links-a {
	color: var(--primary-color);
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: var(--secondary-color);
	text-decoration: none;
}

.nav-links-a:hover {
	text-decoration: underline;
	background-color: #acdae7;
}
